#app {
  max-width: 1280px;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(36, 80, 62);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(156, 59%, 61%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: start;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}

@media print {
  .noprint {
    display: none;
  }
  
  #app {
    padding: 0 0;
  }
}
